.ration-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: stretch;
  margin: 40px 20px 40px 0;
  width: 260px;

  &__img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: -90px;
    z-index: 1;
  }
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 110px 20px 20px 20px;
    border-radius: 7px;
    background: #fff;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__name {
    color: #52b45b;
    font-size: 16px;
    font-weight: 700;
  }
  &__kcal {
    color: #000;
    font-size: 14px;
    font-weight: 700;
  }
  &__descr {
    margin-top: 10px;
    margin-bottom: auto;
  }
  &__props {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  &__props-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      margin-left: 19px;
    }

    &:not(:last-child) {
      padding-right: 20px;
      border-right: 1px dashed #dedede;
    }
  }
  &__props-label {
    color: #b8b8b8;
    font-size: 14px;
  }
  &__props-value {
    margin-top: 4px;
    color: #000;
    font-size: 14px;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 999px;
    background: #52b45b;
    color: #fff;
    cursor: pointer;

    transition: all 0.25s ease 0s;

    &:hover {
      background: #3d9044;
    }
  }
  &__button-text {
    font-size: 16px;
    font-weight: 700;
  }
  &__button-icon {
    width: 24px;
    height: 24px;

    transition: all 0.25s ease 0s;

    :hover > & {
      transform: rotate(45deg);
    }
  }
}

.ration__form {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  margin-top: 60px;

  &-img {
    align-self: stretch;

    width: 25%;
    object-fit: cover;
    object-position: right;
  }
  &-body {
    flex: 1 1 auto;
    padding: 30px;
    display: flex;
    align-items: center;
  }
  &-cell {
    display: flex;
    flex-direction: column;
    &:nth-child(2) {
      margin: 0 auto;
      max-width: 300px;
    }
  }
  &-lable {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
  }
  &-title {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: #000;
  }
  &-promo {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  &-promo-label {
    padding: 10px 20px 12px 20px;
    border-radius: 999px;
    background: #000;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }
  &-promo-value {
    padding: 10px 15px 12px 15px;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 700;
    background: #ffd100;
    margin-left: -15px;
  }
  &-input {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #b8b8b8;

    &::placeholder {
      color: #b8b8b8;
    }

    &:focus {
      border-bottom: 1px solid #52b45b;
    }

    & + & {
      margin-top: 20px;
    }
  }
  &-policy {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  &-check {
  }
  &-label {
    flex: 1 1 auto;
    font-size: 14px;
    line-height: 1.2;
    color: #b8b8b8;
    margin-left: 10px;

    & > a {
      color: #52b45b;
      display: inline;
      text-decoration: underline;
    }
  }
  &-button {
    margin-top: 30px;
  }
}

.ration-popup {
  position: fixed;
  inset: 0;
  z-index: 1000;

  &:not(.is-active) {
    opacity: 0;
    visibility: hidden;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(133, 133, 133, 0.6);
    backdrop-filter: blur(7px);
  }
  &__dialog {
    position: relative;
    max-width: 1002px;
    padding: 60px;
    border-radius: 20px;
    background: #fff;
  }
  &__button-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    padding: 2px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    &:hover {
      background: hsl(0, 0%, 95%);
    }
    & > svg {
      width: 20px;
      height: 20px;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    flex: 0 0 auto;
    width: calc(50% - 20px);
    object-fit: contain;
    object-position: center;
  }
  &__info {
    flex: 0 0 auto;
    width: calc(50% - 20px);
  }
  &__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
    color: #52b45b;
  }
  &__descr {
    margin-top: 10px;
    font-size: 24px;
    color: #000;
    line-height: 1.2;
  }
  &__compound {
    margin-top: 40px;
  }
  &__compound-title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
  }
  &__compound-text {
    margin-top: 10px;
    color: #b8b8b8;
    font-size: 24px;
    line-height: 1.2;
  }
  &__props {
    display: flex;
    margin-top: 40px;
  }
  &__props-item {
    display: flex;
    flex-direction: column;
    &:not(:first-child) {
      margin-left: 20px;
    }
    &:not(:last-child) {
      border-right: 1px dashed #dedede;
      padding-right: 20px;
    }
  }
  &__props-label {
    color: #b8b8b8;
    font-size: 20px;
    line-height: 1.1;
  }
  &__props-value {
    color: #000;
    font-size: 20px;
    line-height: 1.2;
  }
}
