@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;
  min-width: 320px;
  color: $text-color;
  @include HRoman(14px, 16px);
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}



ul {
  list-style: none;
}
a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  &:focus{
    outline: none;
  }
}
section {
  position: relative;
  padding-top: 81px;
}
h1, h2 {
  text-transform: uppercase;
}
input {
  border: none;
  outline: none;
}
pre {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  white-space: pre-wrap;
}

button {
  border: none;
  outline: none;
}

@import "hover-bob";

a.button {
  display: inline-block;
  width: auto;
}

.button {
  display: inline-block; 
  background-image: -moz-linear-gradient( 90deg, rgb(251,167,0) 0%, rgb(253,208,74) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(251,167,0) 0%, rgb(253,208,74) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(251,167,0) 0%, rgb(253,208,74) 100%);
  box-shadow: 0px 10px 21.25px 3.75px rgba(255, 186, 29, 0.35);
  min-width: 250px;
  min-height: 50px;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3px;
  @include HMedium(15px, 51px);
} 

.scrol-links{
  position: absolute;
  top: -95px;
  height: 10px;

  background-color: red;
}
.insta-link {
  display: inline-block;
  width: auto;
  height: auto;
}

.header-line {
  position: relative;
  @include HBold(30px, 30px);
  text-align: center;
  @include responsive(max, $tablet-width){
    margin: 0 auto;
    max-width: 270px;
    font-size: 22px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -31px;
    left: 50%;
    margin-left: -50px;
      background-image: -moz-linear-gradient( 180deg, rgb(253,208,74) 0%, rgb(251,167,0) 100%);
      background-image: -webkit-linear-gradient( 180deg, rgb(253,208,74) 0%, rgb(251,167,0) 100%);
      background-image: -ms-linear-gradient( 180deg, rgb(253,208,74) 0%, rgb(251,167,0) 100%);
      box-shadow: 0px 0px 9px 1px rgba(255, 186, 29, 0.3);
      width: 100px;
      height: 2px;
  }
}



.general {
  &__form {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(182, 182, 182, 0.3);
    padding: 28px 40px;
    background-color: white;
    background-image: url(../images/questions-form-bg.jpg);
    background-repeat: no-repeat;
    background-position: top right;

    @include responsive(max, $tablet-width) {
      -webkit-background-size: 20%;
      background-size: 20%;
    }
    @include responsive(max, 600px) {
      background: white;
    }
    @include responsive(max, 375px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    form {
      div {
        display: inline-block;
        margin-right: 58px;

        @include responsive(max, 985px) {
          margin-right: 30px;
        }
        @include responsive(max, 930px) {
          margin-right: 20px;
        }
      }
      p {
        display: inline-block;
      }

    }
  }
  &__form-header {
    @include HBlack(24px, 25px);
    margin-bottom: 22px;

    @include responsive(max, 985px) {
      font-size: 20px;
      line-height: 22px;
    }
    @include responsive(max, 930px) {
      font-size: 18px;
      line-height: 20px;
    }

    &--green {
      font-weight: 700;
      font-size: 18px;
      color: #51b45b;
      @include responsive(max, $tablet-width){
      font-size: 14px;
    }
    }
  }
  &__form-text {
    max-width: 655px;
    @include HRoman(14px, 15px);
    margin-bottom: 50px;

    @include responsive(max, 985px) {
      width: 600px;
    }
    @include responsive(max, 930px) {
      width: 500px;
    }
    @include responsive(max, 600px) {
      width: 100%;
      max-width: 500px;
    }
  }

  &__label, label {
    display: block;
    margin-bottom: 18px;
    @include HRoman(14px, 15px);
  }
  &__input, input {
    display: block;
    width: 250px;
    height: 50px;
    padding-left: 30px;
    @include HRoman(14px, 15px);
    background-color: #eeeeee;

    @include responsive(max, 930px) {
      width: 200px;
      padding-left: 15px;
    }
    @include responsive(max, 807px) {
      width: 250px;
      padding-left: 30px;
      margin-bottom: 15px;
    }
    //@include responsive(max, 600px) {
    //  width: 220px;
    //}
  }
  &__form-button {
    @include HBold(15px, 50px);

    @include responsive(max, 807px) {
      margin-top: 20px;
    }
  }
  &__policy {
    display: flex;
    margin-top: 16px;

    input {
      display: none;
      &:checked ~ label {
        background: url(../images/tick.png) center no-repeat;
      }
    }

    label {
      flex-shrink: 0;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      border: 1px solid #b3b3b3;
      border-radius: 2px;
      margin-right: 12px;
      cursor: pointer;
    }
    div {
      display: inline-block;
      vertical-align: middle;
      color: #aeaeae;
      @include HRoman(13px, 15px);
    }
    span {
      text-decoration: underline;
    }

  }
}



.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  //overflow-y: scroll;
  display: none;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(50, 50, 50, 0.5);

  &--show {
    display: flex;
  }

  &__wrapper {
    position: relative;
    //width: 95%;
    //max-width: 920px;
    width: 96%;
    max-width: 335px;
    height: 480px;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(182, 182, 182, 0.749);
  }

  &__close {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    @include responsive(max, 420px) {
      right: -20px;
    }
    @include responsive(max, 380px) {
      right: 0px;
    }
  }
}

input {
  &.error {
    outline: 1px solid #E08484;
  }

  &.valid {
    outline: 2px solid #84E08A;
  }

  &.form__checkbox {

    &.error {
     color: #E08484;
    }     

    &.valid{
      outline: none
    }
  }
}