//@import "variables";
@import "general";
a.header__logo{
  display: flex;
  align-items: center;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 98px;
  color: $text-color--first;


  @include responsive(max, 800px) {
    background-color: white;
  }

  &--scroll {
    background-color: white;
  }

  &__logo {
    width: 77px;
    //height: 63px;

    @include responsive(max, 980px) {
      width: 55px;
    }
  }
  &__menu {
    margin-right: 25px;

    @include responsive(max, 980px) {
      margin-left: 2%;
      flex-grow: 1;

    }

    @include responsive(max, 800px) {
      display: none;
    }
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 38px;

    &:last-of-type {
      margin-right: 0;
    }

    @include responsive(max, $container-width) {
      margin-right: 20px;
    }
    @include responsive(max, 980px) {
      margin-right: 6px;
    }
  }
  &__link {
    @include HRoman(15px, 21px);
    padding: 0 4px 3px 0;

    &--active {
      position: relative;
      @include HBold(15px, 21px);

      &::after {
        position: absolute;
        content: '';
        display: block;
        bottom: 0;
        left: 0;
        right: 3px;
        height: 2px;
        background-color: #51b45b;
      }
    }

  }
  &__phone {
    color: white;

    @include responsive(max, 800px) {
      color: inherit;
    }

    &--scroll {
      color: inherit;
    }
  }
  &__number {
    margin-bottom: 10px;
    @include HMedium(22px, 26px);
    letter-spacing: 0.3px;

    @include responsive(max, 980px) {
      font-size: 18px;
      line-height: 20px;
    }
  }
  &__call {
    position: relative;
    padding-bottom: 3px;
    @include HLight(13px, 16px);
    text-transform: uppercase;
    cursor: pointer;

    @include responsive(max, 980px) {
      font-size: 11px;
      margin-top: 5px;
    }

    &::after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fcbb23;
    }
  }


  &__burger {
    display: none;
    cursor: pointer;

    @include responsive(max, 800px) {
      display: block;
    }
  }
  &__menu-mobile {
    position: absolute;
    top: 97px;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: none;

    &--active {
      @include responsive(max, 800px) {
        display: block;
      }
    }
  }
  &__item-mobile {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }
  &__link-mobile {
    @include HRoman(17px, 23px);
    text-align: center;
    display: inline;

    &--active {
      position: relative;
      @include HBold(17px, 23px);


      &::after {
        position: absolute;
        content: '';
        display: block;
        bottom: 0;
        //left: 0;
        //right: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #51b45b;
      }
    }

  }

}

.main {
  height: 770px;
  padding-top: 0;
  padding-bottom: 120px;
  text-align: left;
  background: url("../images/main-bg-1920.jpg") no-repeat;
  background-position: 50%;
  color: $text-color--first;

  @include responsive(max, 980px) {
    height: 520px;
    padding-bottom: 50px;
    background: url("../images/main-bg-1000.jpg") no-repeat;
    background-size: auto 100%;
    background-position: 50%;
  }
  @include responsive(max, 600px) {
    height: auto;
    padding-top: 120px;
    background: url("../images/main-bg-600.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }


  .flex {
    align-items: flex-end;
    //flex-direction: column;
    //align-content: flex-end;
    //justify-content: flex-start;
    //align-items: flex-end;
  }
  &__wrapper {
    width: 555px;
    @include responsive(max, $tablet-width) {
      text-align: center;
    }
  }

  &__header {
    margin-bottom: 25px;
    @include HBlack(32px, 36px);
    text-transform: uppercase;

    @include responsive(max, 980px) {
      margin-bottom: 20px;
      font-size: 25px;
      line-height: 30px;
    }
    @include responsive(max, $tablet-width) {
      font-size: 21px;
    }

  }
  &__question {
    padding-right: 5px;
    margin-bottom: 50px;
    @include HMedium(19px, 24px);
    letter-spacing: -0.5px;
    text-transform: initial;

    @include responsive(max, 980px) {
      margin-bottom: 30px;
    }
    @include responsive(max, $tablet-width) {
      font-size: 19px;
    }
  }
  &__advantages {
    @include responsive(max, $tablet-width) {
      text-align: left;
    }
  }
  &__item {
    display: flex;
    align-items: center;

    @include responsive(max, 980px) {
      margin-bottom: 10px;
    }

    &:last-of-type {
      margin-bottom: 50px;

      @include responsive(max, 980px) {
        margin-bottom: 25px;
      }
    }
  }
  &__img-wrapper {
    display: inline-block;
    width: 50px;
    height: 40px;
    @include responsive(max, $tablet-width) {
      min-width: 50px;
    }
  }
  &__icon {
    display: block;
    height: 100%;
    margin-left: -12px;
  }
  &__text {
    @include HRoman(15px, 22px);
  }
  &__button {
    display: inline-block;
    text-align: left;
    padding: 0 18px;

  }
  &__button-icon {
    width: 38px;
    margin-right: 9px;
    margin-bottom: 4px;
    vertical-align: middle;
  }

  &__apple {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 4.947917vw;
    width: 205px;
    height: 264px;
    margin-bottom: -132px;
    background: url(../images/apple.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;

    @include responsive(max, 1366px) {
      margin-bottom: -162px;
    }
    @include responsive(max, 900px) {
      width: 125px;
    }
    @include responsive(max, 768px) {
      width: 125px;
      height: 200px;
      margin-bottom: -100px;
    }
    @include responsive(max, 480px) {

    }
    @include responsive(max, 374px) {
      display: none;
    }
  }
}

.why {
  background: url("../images/why-bg-1920.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 40px;
  @include responsive(max, $tablet-width) {
    background-image: none;
  }

  .flex {
    flex-wrap: wrap;

    @include responsive(max, 870px) {
      justify-content: space-around;
    }
  }

  &__header {
    margin-bottom: 94px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 200px;
    margin-bottom: 25px;
    padding: 0 25px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 23px 40px 0px rgba(81, 180, 91, 0.2), 0px 0px 5px 0px rgba(182, 182, 182, 0.3);

    @include responsive(max, $container-width) {
      width: 210px;
      height: 170px;
      padding-top: 0;
    }
  }
  &__icon {
    display: block;
    margin: auto;
    width: 70px;

    &--big {
      width: 100px;
    }
  }
  &__text {
    @include HMedium(16px, 18px);
    text-align: center;
  }
}

.ration {
  padding-bottom: 90px;
  background: url("../images/ration-bg-1920.jpg") top left no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  &__header {
    margin-bottom: 75px;
  }
  &__navigation {
    margin-bottom: 50px;

    @include responsive(max, 900px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &__tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    height: 205px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(182, 182, 182, 0.3);
    cursor: pointer;

    svg {
      fill: #51b45b;
    }

    &:hover {
      box-shadow: 0px 10px 13.5px 1.5px rgba(81, 180, 91, 0.3), 0px 0px 5px 0px rgba(182, 182, 182, 0.3);
      transform: translateY(-5px);
    }
    &--active {
      background-color: #51b45b;

      .ration__img-wrapper {
        border: 2px solid white;
      }
      .ration__name {
        color: white;
      }
      .ration__kcal {
        color: white;
      }
      svg {
        fill: white;
      }
    }


    @include responsive(max, $container-width) {
      width: 140px;
      height: 165px;
      padding-top: 10px;
      padding-bottom: 15px;
    }
    @include responsive(max, 900px) {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  &__img-wrapper {
    width: 85px;
    height: 85px;
    margin: 0 auto;
    //margin: auto;
    //margin-bottom: 25px;
    padding: 15px;
    border: 2px solid #51b45b;
    border-radius: 50%;
  }
  &__icon {

  }
  &__name {
    text-align: center;
    color: #51b45b;
    @include HBold(16px, 18px);
  }
  &__kcal {
    text-align: center;
    @include HRoman(14px, 16px);
  }

  &__content {

  }
  &__block {
    display: none;

    &--active {
      display: block;
    }
  }
  &__description {
    margin-bottom: 48px;
    @include HRoman(15px, 17px);
  }
  &__days {
    display: flex;
    margin-bottom: 30px;
  }
  &__wrap{
    width: fit-content;
  }
  &__day {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    height: 25px;
    margin-right: 5px;
    border-radius: 12.5px;
    text-align: center;
    @include HRoman(14px, 25px);
    cursor: pointer;

    @include responsive(max, 980px) {
      width: auto;
      padding: 0 20px;
    }

    &--active {
      background-color: #51b45b;
      color: white;
    }
  }
  &__info {
    display: none;
    justify-content: space-between;

    &--active {
      display: flex;
    }

    @include  responsive(max, 600px) {
      flex-wrap: wrap;
    }
  }
  &__menu {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: transparent;
    flex-wrap: wrap;
    flex-grow: 1;

    @include responsive(max, $container-width) {
      justify-content: space-around;
    }
  }
  &__menu-item {
    position: relative;
    width: 270px;
    height: 170px;
    background-color: gold;
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(182, 182, 182, 0.3);
    border-radius: 5px;
    margin-bottom: 15px;
    margin-right: 2.3%;

    //&:hover {
    //  .ration__dish-info {
    //    background-color: hsla(0, 2%, 9%, .8);
    //  }
    //  .ration__dish-description {
    //    opacity: 1;
    //  }
    //  .ration__dish-details {
    //    height: 15px;
    //  }
    //}
  }
  &__menu-result {
    padding-top: 30px;
    padding-left: 30px;
    width: 270px;
    height: 170px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(182, 182, 182, 0.3);
    border-radius: 5px;
    margin-bottom: 15px;
    @include HRoman(15px, 17px);
    margin-right: 2.3%;
  }
  &__dish-name {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 15px;
    height: 30px;
    background-color: rgba(57, 57, 57, .702);
    color: white;
    @include HRoman(15px, 30px);
  }
  &__dish-info {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 2%, 9%, 0);
    transition: background-color .3s ease;

    @include  responsive(max, 768px) {
      background-color: hsla(0, 2%, 9%, .8);
    }
  }
  &__dish-description {
    padding: 0 1em;
    @include HRoman(15px, 17px);
    opacity: 0;
    transition: opacity .3s ease;

    @include  responsive(max, 768px) {
      opacity: 1;
    }
  }
  &__dish-summary {
    position: absolute;
    left: 1em;
    bottom: 1em;
    @include HRoman(15px, 17px);
  }
  &__dish-details {
    height: 0;
    overflow: hidden;
    transition: height .3s ease;
    @include HRoman(14px, 16px);
    font-weight: lighter;


    @include  responsive(max, 768px) {
      height: 15px;
    }
  }

  &__cost {
    width: 270px;
    //margin-left: 18px;
    flex-shrink: 0;
    margin-bottom: 44px;

    @include  responsive(max, 600px) {
      margin: 0 auto;
      margin-bottom: 44px;
    }
  }
  &__period {
    height: 35px;
    font-size: 0;
  }
  &__period-item {
    display: inline-block;
    width: 90px;
    background-color: transparent;
    @include HBold(16px, 35px);
    text-align: center;
    cursor: pointer;

    &--active {
      color: #51b45b;
      background-color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  &__value-item {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    background-color: white;
    text-align: center;
    @include HRoman(15px, 24px);

    &--active {
      display: flex;
    }

    span {
      @include HBlack(23px, 34px);

      &:last-of-type {
        color: #51b45b;
      }
    }
  }
  &__button {
    margin: 30px auto;
    width: 200px;
    height: 45px;
    min-width: 200px;
  }
  &__delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    border-top: 1px solid #dfdfdf;
    padding-left: 28px;
    padding-right: 35px;
  }
  &__delivery-icon {
    width: 36px;
    //height: 24px;
    margin-right: 26px;
  }
  &__delivery-text {
    display: inline-block;
    vertical-align: middle;
    @include HRoman(14px, 15px);
    text-align: left;
  }

  .general__form {
    background-color: white;
    background-image: url(../images/ration-form-bg.png);



    @include responsive(max, $container-width) {
      -webkit-background-size: 30%;
      background-size: 30%;
    }
    @include responsive(max, 600px) {
      background: white;
    }
  }



}



.about {
  height: 770px;
  background: url("../images/about-bg-1920.jpg") top left no-repeat;
  @include responsive(max, $tablet-width) {
    height: auto;
    padding-bottom: 40px;
  }

  &__header {
    margin-bottom: 115px;
    color: white;
    @include responsive(max, $tablet-width) {
      margin-bottom: 95px;
    }

    span {
      color: #51b45b;
    }
  }

  .flex {
    position: relative;
    flex-wrap: wrap;
    height: auto;

    @include responsive(max, $tablet-width) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    //width: 570px;
    width: 50%;
    color: white;
    @include HRoman(14px, 16px);

    @include responsive(max, $container-width) {
      align-items: center;
    }
    @include responsive(max, $tablet-width) {
      justify-content: space-between;
      margin-bottom: 20px;
      width: 100%;
      max-width: 350px;
    }

    img {
      margin-left: 15px;

      @include responsive(max, $tablet-width) {
        margin: 0;
        max-width: 10%;
        height: auto;

      }
    }

    &--top-left {
      height: 190px;
      padding-left: 68px;
      //background: url("../images/about-item-top-left.png") right 20px  no-repeat;

      @include responsive(max, $container-width) {
        padding-left: 28px;
      }
      @include responsive(max, $tablet-width) {
        height: auto;
        padding: 0;
      }

      img {
        margin-right: 15px;

        @include responsive(max, $tablet-width) {
          margin: 0;
        }
      }
    }
    &--top-right {
      padding-right: 68px;
      justify-content: flex-end;
      height: 190px;
      //background: url("../images/about-item-top-right.png") left  20px no-repeat;

      @include responsive(max, $container-width) {
        padding-right: 28px;
      }
      @include responsive(max, $tablet-width) {
        height: auto;
        padding: 0;
        justify-content: space-between;
      }
    }
    &--middle-left {
      align-items: center;
      height: 70px;
      //background: url("../images/about-item-middle-left.png") center right no-repeat;

      img {
        margin-right: 15px;

        @include responsive(max, $tablet-width) {
          margin: 0;
        }
      }
      @include responsive(max, $tablet-width) {
        height: auto;
      }

      p {
        width: 230px;

        @include responsive(max, $tablet-width) {
          width: 250px;
        }
      }
    }
    &--middle-right {
      align-items: center;
      justify-content: flex-end;
      height: 70px;
      //background: url("../images/about-item-middle-right.png") center left no-repeat;

      p {
        width: 230px;

        @include responsive(max, $tablet-width) {
          width: 250px;
        }
      }
      @include responsive(max, $tablet-width) {
        height: auto;
        justify-content: space-between;
      }
    }
    &--bottom-left {
      padding-left: 68px;
      align-items: flex-end;
      height: 190px;
      //background: url("../images/about-item-bottom-left.png") right -20px  no-repeat;

      @include responsive(max, $container-width) {
        padding-left: 28px;
        align-items: center;
      }
      @include responsive(max, $tablet-width) {
        height: auto;
        padding: 0;
        justify-content: space-between;
      }

      img {
        margin-right: 15px;

        @include responsive(max, $tablet-width) {
          margin: 0;
        }
      }
    }
    &--bottom-right {
      padding-right: 68px;
      align-items: flex-end;
      justify-content: flex-end;
      height: 190px;
      //background: url("../images/about-item-bottom-right.png") left  -20px no-repeat;

      @include responsive(max, $container-width) {
        padding-right: 28px;
        align-items: center;
      }
      @include responsive(max, $tablet-width) {
        height: auto;
        padding: 0;
        justify-content: space-between;
      }
    }
  }
  &__icon {
    height: 65px;

    @include responsive(max, $tablet-width) {
      order: 1;
    }
  }
  &__text {
    width: 250px;

    @include responsive(max, $tablet-width) {
      order: 2;
      margin-right: auto;
      margin-left: 15px;
    }
  }
  &__web {
    position: absolute;
    top: 50%;
    left: 50%;
    //width: 421px;
    width: 482px;
    height: 421px;
    margin-top: -210px;
    //margin-left: -210px;
    margin-left: -241px;
    background: url("../images/about-circle-2.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;

    @include responsive(max, $container-width) {
      width: 352px;
      margin-left: -171px;
    }
    @include responsive(max, $tablet-width) {
      display: none;
    }
  }
}




.clients {
  padding-bottom: 90px;
  background: url("../images/clients-bg-1920.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .container {
    max-width: 1035px;
  }

  &__header {
    margin-bottom: 65px;
  }
  &__info {
    margin-bottom: 85px;
    @include HRoman(15px, 17px);
    text-align: center;
  }
  &__reviews {
    display: none;
    width: 100%;
    justify-content: space-between;
    @include responsive(max, 1035px) {
      justify-content: space-around;
    }
    @include responsive(max, $tablet-width) {
      flex-direction: column;
      align-items: center;
    }

    &--active {
      display: flex;
    }
  }
  &__item {
    //width: 474px;
    width: 47.1642%;
    height: auto;
    min-height: 360px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 23px 40px 0px rgba(81, 180, 91, 0.2), 0px 0px 5px 0px rgba(182, 182, 182, 0.3);
    &:last-child {
      @include responsive(max, $tablet-width){
        display: none;
      }
    }
    @include responsive(max, $tablet-width) {
      margin-bottom: 25px;
    }
    @include responsive(max, $tablet-width) {
      width: 100%;
      max-width: 474px;

    }
  }
  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 55px;
    margin-bottom: 23px;

    @include responsive(max, 850px) {
      padding-right: 0;
    }
    @include responsive(max, 400px) {
      flex-direction: column;
    }
  }
  &__photo {
    width: 140px;
    height: 140px;
    border-radius: 10px;

    @include responsive(max, 400px) {
      margin-bottom: 10px;
    }
  }
  &__about {

    @include responsive(max, 400px) {
      margin-bottom: 10px;
    }
  }
  &__name {
    @include HBold(16px, 18px);
  }
  &__age {
    @include HRoman(14px, 16px);
  }
  &__resource {
    width: 32px;
    height: 32px;
  }
  &__text {
    line-height: 23px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    margin-top: 36px;
  }
  &__navigation-item {
    width: 10px;
    height: 10px;
    margin-right: 8px;
    background-color: #c2c3c2;
    cursor: pointer;
    border-radius: 50%;

    &--active {
      background-color: #51b45b;
    }
  }

}





.how {
  padding-bottom: 55px;
  text-align: center;

  .flex {
    flex-wrap: wrap;

    @include responsive(max, 990px) {
      justify-content: space-around;
    }
  }

  &__header {
    margin-bottom: 69px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    min-height: 430px;
    margin-bottom: 25px;
    padding: 0 0;
    padding-top: 35px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 13.5px 1.5px rgba(81, 180, 91, 0.2),0px 0px 5px 0px rgba(182, 182, 182, 0.3);
  }

  &__name {
    padding: 0 20px;
  }
  &__info {
    padding: 0 20px;
  }

  &__image {
    display: block;
    margin: auto;
    max-width: 100%;
    margin-bottom: 30px;
  }
  &__name {
    @include HBold(20px, 18px);
    text-align: center;
    margin-bottom: 20px;
  }
  &__info {
    @include HRoman(15px, 17px);
    text-align: center;
  }
  &__button {
    margin: 0 auto;
    margin-top: 60px;
  }
}




.faq {
  padding-bottom: 84px;
  background-color: #fafafa;

  &__header {
    margin-bottom: 104px;
  }
  &__item {
    width: 100%;
    max-width: 800px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 43px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 13.5px 1.5px rgba(81, 180, 91, 0.2),0px 0px 5px 0px rgba(182, 182, 182, 0.3);
    transition: height 1.7s ease;
    cursor: pointer;

    &--show {
      height: auto;  //нужно конкретное значение высоты, чтобы сработала анимация

    }
  }
  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    @include HRoman(20px, 22px);
    @include responsive(max, $tablet-width){
      font-size: 18px;
    }


  }
  &__arrow {
    width: 32px;
    height: 17px;

    &--transform {
      transform: rotate(180deg);
    }
  }
  &__answer {
    @include HRoman(16px, 18px);
    @include responsive(max, $tablet-width){
      font-size: 14px;
    }
  }
}




.questions {
  padding-bottom: 120px;
  background: url("../images/questions-bg-1920.jpg") top left no-repeat;

  &__header {
    margin-bottom: 119px;
  }

  .general__form {
    background-color: white;
    background-image: url(../images/questions-form-bg.jpg);
    background-position: 99% 12%;

    @include responsive(max, 600px) {
      background: white;
    }
  }


  &__tomato {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 4.947917vw;
    width: 284px;
    height: 316px;
    margin-top: -158px;
    background: url(../images/tomato.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;

    @include responsive(max, 1366px) {
      margin-top: -118px;
    }
    @include responsive(max, 1000px) {
      width: 205px;
      right: 1vw;
    }
    @include responsive(max, 768px) {
      width: 165px;
      margin-top: -128px;
    }
    @include responsive(max, 480px) {
      width: 105px;
      height: 156px;
      margin-top: -68px;
    }
    @include responsive(max, 374px) {
      display: none;
    }
  }

}



.footer {
  padding: 15px 0;
  border-top: 1px solid #a6a6a6;
  @include HRoman(14px, 16px);

  .flex {
    @include responsive(max, 985px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  a, span {
    text-decoration: underline;
  }


  &__logo {
    @include responsive(max, 985px) {
      margin-bottom: 15px;
      margin-right: 10px;
    }
  }
  &__company {
    @include responsive(max, 985px) {
      margin-bottom: 15px;
      margin-right: 10px;
    }
  }
  &__contacts {
    @include responsive(max, 985px) {
      margin-bottom: 15px;
      margin-right: 10px;
    }
  }
  &__social {
    a {
      display: inline-block;
      width: auto;
      height: auto;
    }
    @include responsive(max, 985px) {
      margin-bottom: 15px;
      margin-right: 10px;
    }
  }
  &__social-item {
    width: 26px;
    height: 26px;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__phone {
    @include responsive(max, 985px) {
      margin-bottom: 15px;
      margin-right: 10px;
    }
  }
  &__number {
    margin-bottom: 7px;
    @include HMedium(22px, 26px);
    letter-spacing: 0.3px;
    text-decoration: none !important;
  }
  &__call {
    position: relative;
    padding-bottom: 3px;
    @include HLight(13px, 16px);
    text-transform: uppercase;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fcbb23;
    }
  }
  &__author {
    @include responsive(max, 985px) {
      margin-bottom: 15px;
      margin-right: 10px;
    }
    &-item {
      line-height: 20px;
    }
  }
}




.popup--form {
  .general {
    &__form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: white;

      form {
        div {
          display: block;
          margin-right: 0;
          margin-bottom: 22px;
        }
      }
    }
    &__form-header {
      margin-right: auto;
    }

    &__form-text {
      margin-bottom: 30px;
      @include responsive(max, 985px){
        width: auto;
      }
      @include responsive(max, 480px) {
        margin-bottom: 20px;
      }
    }
    &__form-button {
      margin-top: 0;
    }
    &__policy {
      margin-top: 30px;
    }
  }
}

.popup--thanks {
  .popup__wrapper {
    height: auto;
  }
  .general__form {
    background: white;
  }
}
a.privacy-popup {
  display: inline;
}
.privacy {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  max-width: 600px;
  min-width: 240px;
  padding: 10px;
  background-color: #fff;
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
  }
  p{
    margin-bottom: 10px;
  }
}
.mfp-close{
  width: 20px;
  height: 20px;
  background-image: url(../images/close.svg);
  opacity: 1;
  top: -34px;
  right: -10px;
  cursor: pointer;
  &:active {
    top: -34px;
  }
}
.mfp-content {
  padding-left: 20px;
  padding-right: 20px;
}

button.mfp-close {
  opacity: 1;
  color: black;
  &:hover{
    opacity: 1;
  }
}





.thanks {
  display: flex;
  flex-direction: column;
  height: 100vh;
  //padding-top: 28.961039%;

}
.thanks-page {
  position: relative;
  padding-top: 23.5vh;

  flex-grow: 1;
  //height: 100vh;
  background: url("../images/thanks-bg-1920.jpg") no-repeat;
  background-position: 60%;
  -webkit-background-size: cover;
  background-size: cover;

  //@include responsive(max, 980px) {
  //  height: 520px;
  //  padding-bottom: 50px;
  //  background: url("../images/main-bg-1000.jpg") no-repeat;
  //  background-size: auto 100%;
  //  background-position: 50%;
  //}
  @include responsive(max, 800px) {
    //height: auto;
    //padding-top: 120px;
    background: url("../images/main-bg-600.jpg") center no-repeat;
    //-webkit-background-size: cover;
    //background-size: cover;
  }
  @include responsive(max, 480px) {
    padding-top: 17vh;
  }

  &__header {
    margin-bottom: 28px;
    padding-left: 25.042735%;
    @include HBlack(32px, 32px);

    @include responsive(max, 768px) {
      padding: 0;
      text-align: center;
    }
  }
  &__text {
    padding-left: 26.324786%;
    @include HMedium(19px, 19px);
    text-transform: none;

    @include responsive(max, 768px) {
      padding: 0;
      text-align: center;

    }
  }
  &__apple {
    //display: block;
    position: absolute;
    top: 28.467532vh;
    left: 61.15625vw;
    width: 205px;
    height: 264px;
    background: url(../images/apple.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;

    @include responsive(max, 900px) {
      width: 125px;
      top: 22.467532vh;
      left: 73.15625vw;
    }
    @include responsive(max, 768px) {
      width: 125px;
      height: 200px;
      top: 27.467532vh;
      left: 73.15625vw;
    }
    @include responsive(max, 480px) {
      left: 50%;
      margin-left: -62px;
      top: auto;
      bottom: 0vh;
    }
    @include responsive(max, 374px) {
      display: none;
    }
  }

}



.popup--form .general__form .wpcf7-display-none {
  display: none;
}
.general__form .wpcf7-display-none {
  display: none;
}